.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
    position: relative;
  }
  .logout{
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
    position: absolute;
    top: 100%;
    background-color: white;
    color: black;
    left: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .logout_link{
    text-decoration: none;
    color: black;
  }
  .logo a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links li a:hover {
    background-color: rgb(21, 185, 207);
    border-radius: 12px;
    padding: 10px;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  