.templates-container {
    /* background-color: #f8f8f8; */
    background: url('../assets/bg_img2.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.templates-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.templates-content h1{
    color:aliceblue
}
.templates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.template-card {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.template-card:hover {
    transform: scale(1.05);
}

.template-card img {
    width: 100%;
    border-radius: 8px;
}

.template-card p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}
